* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
}

.resume-contents {
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: #999;
  color: #fff;
}

.right-section {
  grid-column: span 5;
  height: 100%;
  background-color: #615656;
  border-radius: 0px 60px 0px 0px;
}

.left-section-contents {
  padding: 2rem 2rem;
}

.profile {
  width: 100%;
  border-bottom: 2px solid #1b2631;
}

.profile .profile-image {
  width: 100%;
}

.name {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1rem 0;
}

.profession {
  text-align: center;
}

.right-section-contents {
  padding: 2rem 2rem;
  color: #fff;
}

.gap {
  padding-bottom: 2rem;
}
.about-me-contents {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2rem;
  color: #f1f8fd;
}

.experience-contents, .education-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
  color: #f1f8fd;
}

img {
  border-radius: 50%;
}
